body { background: #53e68d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-cart-0 { color: #44aef7; font-size: 21px; margin-bottom: 5px; }
.block-uploader-1 { color: #47d212; font-size: 16px; margin-bottom: 5px; }
.block-cluster-2 { color: #24fe9d; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #9b9a2e; font-size: 13px; margin-bottom: 5px; }
.block-email-4 { color: #31491d; font-size: 13px; margin-bottom: 5px; }
.block-cache-5 { color: #8fb5f5; font-size: 18px; margin-bottom: 5px; }